@font-face {
	font-family:'ubunturegular';
	src:url('../fonts/ubuntu-webfont.eot');
	src:url('../fonts/ubuntu-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-webfont.woff') format('woff'),
		url('../fonts/ubuntu-webfont.ttf') format('truetype'),
		url('../fonts/ubuntu-webfont.svg#ubunturegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'ubuntulight';
	src:url('../fonts/ubuntu-light-webfont.eot');
	src:url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-light-webfont.woff') format('woff'),
		url('../fonts/ubuntu-light-webfont.ttf') format('truetype'),
		url('../fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'ubuntumedium';
	src:url('../fonts/ubuntu-medium-webfont.eot');
	src:url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
		url('../fonts/ubuntu-medium-webfont.ttf') format('truetype'),
		url('../fonts/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'neuronbold';
	src:url('../fonts/neuron-bold-webfont.eot');
	src:url('../fonts/neuron-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/neuron-bold-webfont.woff') format('woff'),
		url('../fonts/neuron-bold-webfont.ttf') format('truetype'),
		url('../fonts/neuron-bold-webfont.svg#neuronbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

html,body {
	height: 100%;
	margin: 0;
}
body {
	margin: 0;
	color: #000;
	min-width:1280px;
	font: 18px/30px 'ubuntulight' ,"times new roman", times, serif;
}
/* General reset */
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	vertical-align:top;
}

input, select, textarea {
	vertical-align: middle;
	font: 12px arial, helvetica, sans-serif;
	outline:none;
}
a {
	color: #2e8bda;
	text-decoration: underline;
}
a:hover {text-decoration: none;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
figure{margin:0;}

button::-moz-focus-inner {
	padding:0;
	border:0;
}

a:focus,
a:hover {
 outline: none;
 outline: 0;
}
/* wrapper */
#wrapper {
	width:100%;
	min-height: 100%;
	overflow:hidden;
	position:relative;
}
.w1 {padding-bottom: 77px;}
.btn-red{
	display:inline-block;
	vertical-align:top;
	font-family:'ubuntumedium' ,"times new roman", times, serif;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font-size:13px;
	line-height:36px;
	border:0 none;
	background:#e74c3c;
	border-bottom:2px solid #d82f1e;
	border-top:2px solid #e74c3c;
	padding:0 15px;
	margin:0 0 10px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	outline:none;
}
.btn-red:hover{
	background:#f75545;
	border-top:2px solid #f75545;
	border-bottom:2px solid #ed3b29;
}
.btn-red:active{
	background:#d44334;
	border-top:2px solid #c22919;
	border-bottom:2px solid #d82f1e;
}
.text-input{
	background:#fbfbfb;
	border-width:1px;
	border-style:solid;
	border-color:#c1c1c1 #d3d3d3 #e7e7e7;
	margin:0 0 10px;
	padding:10px 10px 8px;
	font-family:'ubuntulight' ,"times new roman", times, serif;
	font-size:16px;
	line-height:22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset #e3e3e3 0 1px 1px 0;
	-moz-box-shadow: inset #e3e3e3 0 1px 1px 0;
	box-shadow: inset #e3e3e3 0 1px 1px 0;
	color:#a3a3a3;
}
/* header */
#header {
	overflow:hidden;
	width:100%;
	position:static;
	z-index:100;
	top:0;
}
#header.scroll-slide{
	position:fixed;
	top:0;
}
#header .logo {
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	margin:-8px 0 0;
}
#header .holder{
	width:100%;
	background:#fff;
	border-bottom:1px solid #0893ba;
}
#header .header-box{
	width:1213px;
	overflow:hidden;
	margin:0 auto;
	padding:20px 20px 0;
}
#header .logo a, 
#header .logo span {
	background: url(../images/home/bg-logo.png) no-repeat 0 0;
	width:150px;
	height:32px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
#header .menu-top{
	margin:0 2px 10px 0;
	list-style:none;
	float:right;
}
#header .menu-top li{
	float:left;
	margin:0 27px 0 0;
}
#header .menu-top li a{
	text-transform:uppercase;
	font-size:15px;
	line-height:18px;
	color:#000;
	text-decoration:none;
	font-family:'ubuntulight' ,"times new roman", times, serif;
}
#header .menu-top li a:hover{
	text-decoration:underline;
}
#header .header-box .btn-red{
	float:right;
	padding:0 17px;
}
#header .box-form{
	float:right;
}
#header .box-form .text{
	position:relative;
	width:246px;
	padding:0 2px 0 0;
	margin:0 20px 10px 0;
	overflow:hidden;
}
#header .box-form .text .btn-search{
	position:absolute;
	left:0;
	top:0;
	background: url(../images/home/bg-byn-search.png) no-repeat 50% 50%;
	width:36px;
	height:40px;
	cursor:pointer;
	border:0 none;
	text-indent:-9999px;
	overflow:hidden;
	padding:0;
}
.top-info{
	background:#08B3E4 url(../images/home/bg-left-side.png) no-repeat 0 0;
	padding:27px 0 0;
	border-bottom:2px solid #fff;
}
.top-info .info-holder{
	background: url(../images/home/bg-right-side.png) no-repeat 100% 0 ;
}
.center-info{
	width:950px;
	margin:0 auto;
	padding:0 15px 0 5px;
	text-align:center;
}
.box-form .text .text-input{
	padding:10px 7px 8px 38px;
	width:198px;
	font-size:16px;
}
.subtitles{
	display:block;
	text-align:center;
	color:#fff;
	
	font-weight:normal;
	font-family:'neuronbold',Arial, Helvetica, sans-serif;
	font-size:63px;
	line-height:84px;
}
.subtitles .heart{
	background: url(../images/home/bg-subtitles.png) no-repeat 0 0;
	width:162px;
	height:141px;
	text-indent:-9999px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	margin:0 -69px 0 0;
}
*+html .subtitles .heart{
	display:inline;
	zoom:1;
}
.top-info h1{
	font-size:22px;
	line-height:30px;
	color:#f7ffb2;
	font-family:'ubunturegular',"times new roman", times, serif;
	margin: -35px 0 43px;
	font-weight:normal;
	letter-spacing:-0.25px;
}
.top-info .caption{
	width:485px;
	background:url(../images/home/bg-shadow.png) no-repeat  0 100%;
	padding:0 0 99px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
.top-info .caption .caption-block{
	background:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:3px;
	-webkit-box-shadow: #297A9F 0 3px 4px;
	-moz-box-shadow:#297A9F 0 3px 4px;
	box-shadow:#297A9F 0 3px 4px;
}
.top-info .caption .caption-hold{
	border:1px solid #d6d6d6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:12px 0 10px;
}
.top-info .head-caption{
	display:block;
	text-align:center;
	font-size:20px;
	line-height:24px;
	color:#333;
	margin: 0 0 15px;
	font-family:'ubunturegular',"times new roman", times, serif;
	font-weight:normal;
}
.top-info .caption .caption-hold .btn-red{
	font-size:20px;
	line-height:36px;
	letter-spacing:-0.5px;
	font-weight:bold;
	padding:0 53px;
	margin:0 0 10px;
}
.top-info .center-info .info-box{
	width:100%;
	overflow:hidden;
	margin:-56px 0 0;
	position:relative;
	z-index:2;
	padding:0 0 46px;
}
.top-info .center-info .info-box p{
	font-size:18px;
	line-height:22px;
	font-family:'ubunturegular',"times new roman", times, serif;
	color:#fff;
	margin:0 0 2px;
}
.top-info .center-info .info-box a.video{
	color:#fff;
	font-family:'ubunturegular',"times new roman", times, serif;
	font-size:17px;
	line-height:22px;
}
/* main */

#main {
	width:1240px;
	padding:0 12px 0 28px;
	margin:0 auto 100px;
}
.publish{
	background:#f1f7fa;
	padding:7px 9999px 9px;
	margin:0 -9999px;
	overflow:hidden;
	border-bottom:2px solid #1e90c0;
	-webkit-box-shadow:inset #d7e3e3 0 -2px 0;
	-moz-box-shadow:inset #d7e3e3 0 -2px 0;
	box-shadow:inset #d7e3e3 0 -2px 0;
	position:relative;
}
.publish .publish-block{
	width:100%;
	overflow:hidden;
	position:absolute;
	opacity:0;
}
.publish .publish-block.active{
	position:static;
}
.publish .publish-block.publish-hold{
	padding:2px 0;
}
.publish .list-info{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	width:1005px;
}
.publish .publish-hold .list-info li{
	margin:0 36px 0 0;
}
.publish .publish-hold .list-info{
	width:990px;
}
.publish .list-info li{
	float:left;
	margin:0 56px 0 0;
}
.publish .list-info li a{
	display:block;
	
}
.publish  .publish-list{
	float:left;
	font-size:24px;
	line-height:30px;
	font-family:'ubuntumedium' ,"times new roman", times, serif;
	font-weight:normal;
	margin:15px 48px 10px 32px ;
	letter-spacing:-0.35px;
	color:#444;
}
#nav{
	padding:0 9999px;
	margin:0 -9999px;
	border-bottom:1px solid #dfe4e6;
	position:relative;
	-webkit-box-shadow: #f1f2f2 0 2px 0;
	-moz-box-shadow: #f1f2f2 0 2px 0;
	box-shadow: #f1f2f2 0 2px 0;
	background:#fff;
}
#nav .menu{
	margin:0;
	padding:23px 0 15px;
	list-style:none;
	width:100%;
	overflow:hidden;
}
#nav .menu li{
	float:left;
	border-left:1px solid #dfe4e6;
	padding:0 0 0 51px;
	margin:0 45px 10px 0;
	line-height:23px;
}

#nav .menu li a{
	font-size:18px;
	line-height:23px;
	font-family:'ubuntulight',"times new roman", times, serif;
	color:#4b4b4b;
	text-decoration:none;
}
#nav .menu li a:hover{
	text-decoration:underline;
}
#nav .menu li:first-child{
	border:0 none;
	padding:0 0 10px 43px;
	margin:0 50px 0 0;
}
#main .block{
	padding:30px 9999px ;
	margin:0 -9999px;
	border-bottom:1px solid #d7dee4;
	height:380px;
	width:1240px;
	display:table;
}
#main .block .holder{
	padding:20px 417px 20px 3px;
	position:relative;
	margin:0;
	display:block;
}
#main .block  img.img-view{
	position:absolute;
	top:50%;
	margin-top:-9.55%;
	right:19px;
}
.block-img{
	display:table-cell;
	vertical-align:middle;
}
#main h2{
	font-size:24px;
	line-height:30px;
	margin:0 0 21px;
	font-family:'ubuntumedium',"times new roman", times, serif;
	font-weight:normal;
	color:#333333;
}
#main  strong.title{
	font-size:18px;
	line-height:30px;
	color:#333;
	margin:0 0 21px;
	display:block;
	font-family:'ubuntumedium' ,"times new roman", times, serif;
	font-weight:normal;
}
#main  p{
	color:#333;
	margin: 0 0 20px;
}
#main .block .holder .text-input{
	width:518px;
	margin:0 6px 0 0;
}
#main .block .holder .text{
	width:100%;
	overflow:hidden;
	margin:0 0 19px;
	padding:9px 0 0;
}
#main .block .holder .btn-red{
	padding:0 30px;
}
#main .block .holder .watch-channel{
	margin:0 47px 10px 0 ;
	letter-spacing:-0.25px
}
#main .block.aside .holder{
	padding:0 0 0 392px;
}
#main .block.aside .holder img.img-view{
	left:44px;
}
#main .list{
	margin:0 0 14px;
	padding:10px 0 0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
#main .list li{
	float:left;
	margin:0 10px 0 0;
}
#main .block .text-box{
	width:100%;
	overflow:hidden;
	padding:8px 0 0;
	margin:0 0 10px;
}
#main .block .text-box .list{
	padding:4px 0 0;
}
.holder-list{
	width:100%;
	overflow:hidden;
	padding:5px 0 0;
}
.holder-list .list-img li{
	margin:0 25px 10px 0;
}
.btn-blue{
	display:inline-block;
	vertical-align:top;
	background:#82b6e1;
	font-size:14px;
	line-height:26px;
	border-bottom:2px solid #6aa2d1;
	border-top:2px solid #82b6e1;
	position:relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#fff;
	text-decoration:none;
	padding:0 20px;
	margin:0 0 10px;
	font-family:'ubunturegular',"times new roman", times, serif;
}
.btn-blue:hover{
	background:#92c5f0;
	border-bottom:2px solid #7bb7e8;
	border-top:2px solid #92c5f0;
}
.btn-blue:active{
	background:#6ba2cf;
	border-top:2px solid #558cba;
	border-bottom:2px solid #6ba2cf;
}
.list-img{
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.list-img li{
	float:left;
	margin:0 46px 0 0;
}
.list-img li .figcaption{
	display:inline-block;
	vertical-align:top;
	width:116px;
	text-align:left;
	font-size:20px;
	line-height:24px;
	padding:11px 0 0 11px;
}
.list-block{
	width:100%;
	overflow:hidden;
	padding:15px 0 0;
}
.gallery {
	overflow:hidden;
	position:relative;
	text-align:center;
	padding:35px 0 26px;
	margin:0;
	background: url(../images/home/img43.jpg) no-repeat 50% 0;
}
.gallery  .list-item{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	min-height:95px;
}
.gallery  .list-item li{
	width:100%;
	position:absolute;
	min-height:50px;
	z-index:1;
	opacity:0;
}
.gallery  .list-item li.active{
	z-index:10;
	opacity:1;
}
.gallery-hold{
	padding:100px 9999px 47px;
	margin:0 -9999px 127px;
	border-bottom:1px solid #d7dee4;
}
#main .gallery h2{
	margin-bottom:15px;
}
.gallery a.link-prev,
.gallery a.link-next {
	position:absolute;
	top:50%;
	left:180px;
	background: url(../images/home/bg-prev-next.png) no-repeat 0 -36px;
	width:18px;
	height:36px;
	text-indent:-9999px;
	z-index:100;
	margin:-164px 0 0;
}
.gallery a.link-next {
	left:auto;
	right:170px;
	background-position: -18px 0px;
}
.gallery a.link-prev.hidden{
	background-position: 0 0;
	cursor:default;
}
.gallery a.link-next.hidden{
	background-position: -18px -36px;
	cursor:default;
}
.gallery .gallery-holder {
	width:100%;
	position:relative;
	overflow:hidden;
	width:692px;
	margin:0 auto 1px;
}
.gallery .gallery-holder ul {
	width:99999px;
	position:relative;
	padding:0;
	margin:0;
	list-style:none;
	overflow: hidden;
}
.gallery .gallery-holder ul li img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #eeeeee 0 1px 0;
	-moz-box-shadow:#eeeeee 0 1px 0;
	box-shadow:#eeeeee 0 1px 0;
	margin:0 0 1px;
}
.gallery .gallery-holder ul li {
	width:692px;
	float:left;
}
.customer-hold{
	width:1300px;
	overflow:hidden;
	margin:0;
	padding:10px 0 0;
}
.switcher {
	overflow:hidden;
	margin:0 0 21px;
	padding:102px 0 0;
	list-style:none;
	text-align:center;
}
.switcher li {
	display:inline-block;
	padding:0;
	margin:0 11px 0 0;
}
*+html .switcher li{
	display:inline;
	zoom:1;
}

.switcher li a {
	display:inline-block;
	text-decoration:none;
	width:55px;
	height:55px;
	position:relative;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	
}
.switcher li a img{
	position:absolute;
	top:50%;
	margin-top:-25%;
	left:50%;
	margin-left:-25%;
}
.switcher li.active a,
.switcher li a:hover{
	background:#f0f2f4;
}
.customer{
	float:left;
	border:1px solid #d9e2e6;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:0 30px 30px 0;
	padding:17px 13px 21px 35px;
	
}
.customer .denote{
	float:left;
	font-weight:normal;
	font-size:18px;
	line-height:24px;
	margin:35px 25px 10px 0;
}
.customer .list-img{
	float:left;
	width:auto;
}
.customer .list-img li{
	margin:0 26px 0 0;
}
.block-hold{
	width:1051px;
	margin:0 auto 7px;
	overflow:hidden;
}
.block-hold .info{
	float:left;
	text-align:center;
	width:460px;
	margin:0 0  10px 114px;
}
.block-hold .info:first-child{
	margin:0 0 10px;
}
.block-hold .info img{
	margin:0 0 24px;
}
#main  .block-hold h2{
	margin:0 0 23px;
}
/* footer */
#footer {
	overflow:hidden;
	width:100%;
	padding:0;
	position:relative;
	height: 77px;
	margin-top: -77px;
	background:#121212;
	font-family:'ubunturegular',"times new roman", times, serif;
}
#footer .holder{
	padding: 24px 20px;
	width: 1200px;
	margin:0 auto;
	overflow:hidden;
}
#footer .social-list{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	font-size:14px;
	line-height:18px;
}
#footer .social-list li{
	float:left;
	margin:0  0 0 37px;
}
#footer .social-list li a{
	color:#898989;
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	padding: 0 0 0 19px;
	float:left;
	background: url(../images/home/bg-social-list.png) no-repeat 0 0;
}
#footer .social-list li a.fasebook{
	background-position:0 1px;
}
#footer .social-list li a.fasebook:hover{
	background-position: -3px -127px;
	color:#5772af;
}
#footer .social-list li a.twitter{
	background-position:0 -43px;
	padding:0 0 0 27px;
}
#footer .social-list li a.twitter:hover{
	background-position: -1px -170px;
	color:#00aaf0;
}
#footer .social-list li a.shirt{
	background-position:0 -83px;
	padding:0 0 0 27px;
}
#footer .social-list li a.shirt:hover{
	background-position:0 -209px;
	color:#ffcc00;
}
#footer .menu{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#footer .menu  li{
	float:left;
	margin:0 23px 0 0;
}
#footer .menu  li a{
	float:left;
	color:#898989;
	font-size:14px;
	line-height:20px;
	text-decoration:none;
}
#footer .menu  li a:hover{
	text-decoration:underline;
}
