{% extends "teams/base.html" %}
{% load i18n teams_tags paginator media_compressor %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Amara
{% endblock %}

{% block view_content %}
    <div class="view grid_8 omega">
        {% with 'settings' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

        <div class="tools subnav">
            {% with "projects" as current_sub %}
                {% include "teams/_subnav_settings.html" %}
            {% endwith %}
            <!-- <a class="button project-add" href="{% url teams:add_project slug=team.slug %}">{% trans 'Add Project' %}</a> -->
        </div>

        <form action="" method="POST" class="settings">
            {% csrf_token %}
            {{ form.non_field_errors }}

                <fieldset>
                    <legend>{% trans 'Add new project' %}</legend>

                    <label for="id_name">{% trans 'Name' %}</label>
                    {{ form.errors.name }}
                    {{ form.name }}

                    <label for="id_description">{% trans 'Description' %}</label>
                    {{ form.errors.description }}
                    {{ form.description }}

                    <label for="id_shared_teams">{% trans 'Share project with other teams' %}</label>
                    {{ form.errors.shared_teams }}
                    {{ form.shared_teams }}
                </fieldset>

            <div class="submit">
                <a class="button cancel project-cancel" href="{% url teams:settings_projects slug=team.slug %}">{% trans 'Cancel' %}</a>
                <input type="submit" class="submit save" value="Save Changes" name="save" />
            </div>
        </form>

    </div>

{% endblock %}
