{% extends "teams/base.html" %}
{% load i18n teams_tags paginator media_compressor %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Amara
{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with 'settings' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}
        <div class="tools subnav">
            {% with 'projects' as current_sub %}
                {% include 'teams/_subnav_settings.html' %}
            {% endwith %}
        </div>
        <div>
            <a class="button reduced project-add" href="{% url teams:add_project slug=team.slug %}">{% trans 'Add Project' %}</a>
        </div>
        {% if projects %}
            <ul class="projects listing">
                {% for project in projects %}
                    <li>
                        <p>{{ project.name }}</p>
                        <ul class="actions">
                            <li>
                                <a class="action-edit" href="{% url teams:edit_project slug=team.slug project_slug=project.slug %}">{% trans 'Edit' %}</a>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans 'This team does not have any projects yet' %}</p>
        {% endif %}
    </div>
{% endblock %}
