{% load i18n announcement_tags messages_tags profiles_tags media_compressor auth_tags %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en" {% block html_attrs %}{% endblock %} class="base">

<head>
    <title>{% block title %}Amara - {% trans 'Caption, translate, subtitle and transcribe video.' %}{% endblock %}</title>

    <meta name="description" content="The easiest way to caption and translate any video, with crowdsourcing, volunteers, and professional services." />

    <meta charset="utf-8" />
    {% if not current_site.name == 'amara-production' %}
        <meta name="robots" content="noindex, nofollow"/>
    {% endif %}
    {% block opengraph-head %}
        <meta property="fb:admins" content="539835590"/>
    {% endblock  %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    {% block css %}{% include_bundle "base" %}{% endblock %}

    <!--[if IE]>
        <style type="text/css"> .group { display: block; zoom: 1; } </style>
    <![endif]-->
    <!--[if gte IE 8]>
        <link href="{{ STATIC_URL }}css/ie8.css" media="all" type="text/css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8]>
        <style> .notIE { display: none !important ; } </style>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include_bundle "site_base_js" %}
    <script type="text/javascript" src="{% url js_i18n_catalog %}"></script>
    <script src="{% url profiles:rpc_api %}" type="text/javascript"></script>  
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        window.STATIC_URL = '{{ STATIC_URL }}';
        {% block oldmodal %}
            window.OLD_MODAL = true; 
        {% endblock %}
    </script>
</head>

<body>
    <!-- wrapper  start -->
	<div id="wrapper">
		<div class="w1">
			<!-- header  start -->
			<header id="header">
				<div class="holder">
					<div class="header-box">
                        {% if user.is_authenticated %}
                        <li id="me_menu">{% top_user_panel %}</li>
                        {% else %}
                        <a href="{% url auth:login %}?next={{ request.path_info|urlencode }}" class="btn-red">{% trans 'SIGN UP/SIGN IN' %}</a>
                        {% endif %}
						<div class="box-form">
							<form action="#" class="form">
								<fieldset>
									<div class="text">
                                        <form method="get" action="{{BASE_URL}}{% url search:index %}">
                                            <button class="btn-search" type="submit">{% trans 'search' %}</button>
                                            <input type="text" name="q" class="text-input" value="" placeholder="Search Subtitled Videos"/>
                                         </form>
									</div>
								</fieldset>
							</form>
						</div>
						<ul class="menu-top">
							<li><a href="{% url videos:create %}">{%trans 'Subtitle a Video' %}</a></li>
							<li><a href="http://about.amara.org/volunteer/">{% trans 'Volunteer' %}</a></li>
							<li><a href="#">{% trans 'Browse' %}</a></li>
							<li><a href="http://about.amara.org/enterprise/">{% trans 'Order Captions' %}</a></li>
							<li><a href="http://support.universalsubtitles.org/solution/categories/13504">{% trans 'Help' %}</a></li>
						</ul>
						<strong class="logo"><a href="#">amara</a></strong>
					</div>
				</div>
			</header>
            <div class="top-info">
					<div class="info-holder">
					<div class="center-info">
						<strong class="subtitles">We <span class="heart">heart</span>subtitles!</strong>
						<h1>{% trans 'Amara is the largest and most advanced captioning and subtitling platform in the world.' %}</h1>
						<div class="caption">
							<div class="caption-block">
								<div class="caption-hold">
									<strong class="head-caption">{% trans 'Need captions or subtitles?' %}</strong>
									<a href="#" class="btn-red">{% trans 'CONTACT US' %}</a>
								</div>
							</div>
						</div>
						<div class="info-box">
							<p>{% trans 'Over 300,000 sets of subtitles created in more than 130 languages.' %}</p>
							<a class="video" href="#">{% trans 'Recently Featured Videos' %}</a>
						</div>
					</div>
				</div>
			</div>
			<!-- header  end
			    main  start -->
            <div id="main">
				<div class="publish">
					<div class="publish-block">
						<strong class="publish-list">{% trans 'Trusted by:' %}</strong>
						<ul class="list-info">
							<li><img src="{{ STATIC_URL }}images/home/img01.png " alt="image" width="140" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img03.png" alt="image" width="46" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img05.png" alt="image" width="94" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img07.png" alt="image" width="97" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img09.png" alt="image" width="104" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img11.png" alt="image" width="52" height="60" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img13.png" alt="image" width="39" height="60" /></li>
						</ul>
					</div>
					<div class="publish-block publish-hold">
						<strong class="publish-list">{% trans 'Publish with:' %}</strong>
						<ul class="list-info">
							<li><img src="{{ STATIC_URL }}images/home/img02.jpg" alt="image" width="88" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img04.jpg" alt="image" width="122" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img06.jpg" alt="image" width="111" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img08.jpg" alt="image" width="101" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img10.jpg" alt="image" width="36" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img12.jpg" alt="image" width="95" height="56" /></li>
							<li><img src="{{ STATIC_URL }}images/home/img14.jpg" alt="image" width="167" height="56" /></li>
						</ul>
					</div>
				</div>
                {% block main_content %}{% endblock %}
			</div>
			<!-- main  end -->

		</div>
	</div>
	<!-- wrapper  end
	     footer  start -->
	<footer id="footer">
		<div class="holder">
			<ul class="social-list">
				<li><a href="#" class="fasebook">Facebook</a></li>
				<li><a class="twitter" href="#">Twitter</a></li>
				<li><a class="shirt" href="#">{% trans 'Buy a T-shirt!' %}</a></li>
			</ul>
			<ul class="menu">
				<li><a href="#">{% trans 'About' %}</a></li>
				<li><a href="#">{% trans 'Jobs' %}</a></li>
				<li><a href="#">{% trans 'Contact Us' %}</a></li>
				<li><a href="#">{% trans 'Privacy Policy' %}</a></li>
				<li><a href="#">{% trans 'Terms of Service' %}</a></li>
				<li><a href="#">{% trans 'Security' %}</a></li>
			</ul>
		</div>
	</footer>
	<!-- footer  end -->

</body>
</html>
